@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300&display=swap');

:root {
    --bg1: #161819;
    --bg2: #121314;
    --body: #a16663;
    --brand: #82328B;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: alverata-irregular, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--body)
}

p {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
}

a {
    color: var(--body);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.4s ease;
}

a:hover {
    color: var(--brand);
}

.link-more {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    left: 1px;
}

.link-more .icon {
    transition: all 0.4s ease;
}

.link-more:hover .icon {
    transform: translateX(8px);
}

img {
    width: 100%;
}

section {
    padding-top: 160px;
    padding-bottom: 160px;
}

/* -----------------------Navbar---------------------- */
.navbar {
    background: linear-gradient(to bottom, #161819, rgba(97, 96, 96, 0.2));
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

/* -----------------------Hero---------------------- */
#hero {
    background: linear-gradient(to right, #161819, rgba(27, 31, 52, 0.2)), url(../img/cover_1.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#hero p {
    margin-top: 24px;
    margin-bottom: 24px;
}

.logo {
    height: 120px;
    width: 135px;
}

/* -----------------------BTN -----------------------*/
.btn {
    padding: 16px 36px;
    font-family: alverata-irregular, sans-serif;
    font-weight: 900;
    font-style: normal;
    transition: all 0.4s ease;
}

.btn-brand {
    background-color: var(--brand);
}

.btn-brand:hover {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand:hover {
    background-color: var(--brand);
    color: var(--bg1);
}

/* -----------------------ABOUT -----------------------*/

#about {
    position: relative;
}

#about::after {
    content: "";
    width: 25%;
    height: 100%;
    background-color: var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#about h6 {
    color: var(--brand);
}

#about h1 {
    margin-bottom: 16px;
}

#about .signature {
    width: unset;
}

#about img {
    border-radius: 5px;
}

/* -----------------------Service -----------------------*/

#services {
    background: var(--bg2);
}

#services .service .content {
    padding: 32px;
}


#services .service p{
    margin-top: 18px;
    margin-bottom: 18px;
}

/* -----------------------Intro service -----------------------*/

.intro{
    margin-bottom: 60px;
}

.intro h1{
    margin-top: 16px;
    margin-bottom: 16px;
}

.intro h6{
    color: var(--brand);
}

.intro p{
    font-weight: 400;
     max-width: 500px;
     margin: auto;
}

/* ----------------------- Feature -----------------------*/
#features{
    background-color: var(--bg2);
}
.feature{
    display: flex;
}
.feature .icon-feature{
    font-size: 38px;
    color: var(--brand);
    line-height: 1;
    margin-right: 16px;
}
.feature p{
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.espax{
    padding: 20px;
}




/* ----------------------- Social Icons -----------------------*/

.social-links a{
    width: 48px;
    height: 48px;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links a:hover{
    background-color: var(--brand);
    color: var(--bg2);
}


/* ----------------------- Team Members -----------------------*/

.team-member{
    position: relative;
}
.team-member p{
    font-weight: 300;
}

.team-member .social-links{
    position: absolute;
    top: 0px;
    right: 30px;
    transition: all 0.5s ease;
    opacity: 0;
}

.team-member:hover .social-links{
    opacity: 1;
    top: 30px;
}